	/*
  	Flaticon icon font:Flaticon
  	Creation date:19/10/2020 22:54
  	*/

@font-face {
  font-family:"Flaticon";
  src:url("Flaticon.eot");
  src:url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight:normal;
  font-style:normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family:"Flaticon";
    src:url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before,[class*=" flaticon-"]:before{font-family:Flaticon; font-size:20px; font-style:normal; margin-left:20px;}

.flaticon-toolbox:before{content:"\f100";}
.flaticon-writing:before{content:"\f101";}
.flaticon-cv:before{content:"\f102";}
.flaticon-easter-egg-with-different-lines-design:before,.flaticon-easter-egg:before{content:"\f103";}
.flaticon-personal-computer:before{content:"\f104";}
.flaticon-pc:before{content:"\f105";}
.flaticon-computer-desktop:before{content:"\f106";}
.flaticon-pc-mechanic:before{content:"\f107";}
.flaticon-wrench:before{content:"\f108";}
.flaticon-bug-fixing:before{content:"\f109";}
.flaticon-floppy-disk:before{content:"\f10a";}
.flaticon-floppy:before{content:"\f10b";}
.flaticon-usb-drive:before{content:"\f10c";}
.flaticon-compact-disc-with-glare:before{content:"\f10d";}
.flaticon-hard-disc:before{content:"\f10e";}
.flaticon-flash-drive:before{content:"\f10f";}
.flaticon-hard-disk:before{content:"\f110";}
.flaticon-ssd:before{content:"\f111";}