@import url("flaticon.css");

@font-face{
 font-family:"SFFedora";
 src:url("sffedora.eot");  /* IE9 Compat Modes */ 
 src:url("sffedora.eot") format("embedded-opentype"), /* IE6-IE8 */
         url("sffedora.woff2") format("woff2"), /* Super Modern Browsers */
         url("sffedora.woff") format("woff"), /* Pretty Modern Browsers */
         url("sffedora.ttf") format("truetype"), /* Safari, Android, iOS */
         url("sffedora.svg#sffedora") format("svg"); /* Legacy iOS */
}
@font-face{
 font-family:"Marlboro";
 src:url("marlboro.eot");  /* IE9 Compat Modes */ 
 src:url("marlboro.eot") format("embedded-opentype"), /* IE6-IE8 */
         url("marlboro.woff2") format("woff2"), /* Super Modern Browsers */
         url("marlboro.woff") format("woff"), /* Pretty Modern Browsers */
         url("marlboro.ttf") format("truetype"), /* Safari, Android, iOS */
         url("marlboro.svg#marlboro") format("svg"); /* Legacy iOS */
}
@font-face{
 font-family:"PrintChar21";
 src:url("PrintChar21.eot");  /* IE9 Compat Modes */ 
 src:url("PrintChar21.eot") format("embedded-opentype"), /* IE6-IE8 */
         url("PrintChar21.woff2") format("woff2"), /* Super Modern Browsers */
         url("PrintChar21.woff") format("woff"), /* Pretty Modern Browsers */
         url("PrintChar21.ttf") format("truetype"), /* Safari, Android, iOS */
         url("PrintChar21.svg#wingding") format("svg"); /* Legacy iOS */ 
}

@font-face{
 font-family: DejaVuSans;
 src: url("dejavusans.ttf");
}

@font-face {
    font-family: "pcfonts";
    src: url("pcfonts.eot"); /* IE9 */
    src: url("pcfonts.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("pcfonts.woff2") format("woff2"), /* chrome?firefox?opera?Safari, Android, iOS */
    url("pcfonts.woff") format("woff"), /* chrome?firefox */
    url("pcfonts.ttf") format("truetype"), /* chrome?firefox?opera?Safari, Android, iOS 4.2+ */
    url("pcfonts.svg#uxpcfonts") format("svg"); /* iOS 4.1- */
}

/* Pc Icons */

[class^="pcico-"]:before,[class*=" pcico-"]:before{font-family: "pcfonts" !important; font-size:4vh; font-style:normal; display:inline-block;}
.pcico- {
    font-family: "pcfonts" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pcico-desktop:before {
  content: "\26";
}

.pcico-laptop:before {
  content: "\21";
}

.pcico-imac:before {
  content: "\22";
}

.pcico-macmini:before {
  content: "\23";
}

.pcico-macbook:before {
  content: "\24";
}
